<html>
<head>
  <title>rere</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<!-- Style -->
<style>
  table, th, td {
    border: 1px solid black; 
  }
</style>
<body>
  <p id="station" hidden>{{ station }}</p>
  <!--
  https://jinja.palletsprojects.com/en/3.0.x/templates/#html-escaping
  -->
  <script type="text/javascript" src="/static/index.js"></script>
  {% if SIM %}
  <script type="text/javascript" src="/static/sim.js"></script>
  {% else %}
  <script type="text/javascript" src="/static/notsim.js"></script>
  {% endif %}
  <script>
    if (location.pathname == '/'){
      var station = 0;
    } else {
      var station = document.getElementById('station').innerHTML;
    }
    console.log(station);

    // init archive data
    $.get("/init/" + station, function(data){
      for (const value_set of data){
        write_to_table(value_set);
      }
    });

    var intervalId = window.setInterval(function(){
      fetch_data(station);
    }, 15000);
  </script>
  <h1>rere</h1>
  <a href="/stations">stations</a>
  <table id="datatable"> 
    <tr style="width: 100%">
      <th>time</th>
      <th>id</th>
      <th>pres</th>
      <th>gas_res</th>
      <th>a_temp</th>
      <th>a_hum</th>
      <th>gd_temp</th>
      <th>gd_hum</th>
      {% if SIM %}
      <th>gps_lat</th>
      <th>gps_lon</th>
      <th>gps_angle</th>
      <th>gps_speed</th>
      {% endif %}
    </tr>
    <tr>
      <td id="time"></td>
      <td id="id"></td>
      <td id="pres"></td>
      <td id="gas_res"></td>
      <td id="a_temp"></td>
      <td id="a_hum"></td>
      <td id="gd_temp"></td>
      <td id="gd_hum"></td>
      {% if SIM %}
      <td id="gps_lat"></td>
      <td id="gps_lon"></td>
      <td id="gps_angle"></td>
      <td id="gps_speed"></td>
      {% endif %}
    </tr>
  </table>
</body>
</html>
