<html>
<head>
<title>rere</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black; 
}
</style>
<body>
<script type="text/javascript" src="static/index.js"></script>
<script type="text/javascript" src="static/sim.js"></script>
<h1>rere</h1>
<table id="datatable">
  <tr style="width: 100%">
    <th>time</th>
    <th>id</th>
    <th>pres</th>
    <th>gas_res</th>
    <th>a_temp</th>
    <th>a_hum</th>
    <th>gd_temp</th>
    <th>gd_hum</th>
    <th>gps_lat</th>
    <th>gps_lon</th>
    <th>gps_angle</th>
    <th>gps_speed</th>
  </tr>
  <tr>
    <td id="time"></td>
    <td id="id"></td>
    <td id="pres"></td>
    <td id="gas_res"></td>
    <td id="a_temp"></td>
    <td id="a_hum"></td>
    <td id="gd_temp"></td>
    <td id="gd_hum"></td>
    <td id="gps_lat"></td>
    <td id="gps_lon"></td>
    <td id="gps_angle"></td>
    <td id="gps_speed"></td>
  </tr>
</table>
</body>
</html>
