<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/table.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body> 
  <table id="datatable">
    <tr>
      <th>time</th>
      <th>humidity</th>
      <th>temperature</th>
      <th>heat index</th>
    </tr>
  </table>

  <!--<table>
    <tr style="width: 100%">
      <th>time</th>
      <th>humidity</th>
      <th>temperature</th>
      <th>heat index</th>
    </tr>
    <tr>
      <td id="time">0</td>
      <td id="humidity">0</td>
      <td id="temp">0</td>
      <td id="heat_index">0</td>
    </tr>
  </table>-->
</body>
</html>
