<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>rere</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">

</head>
<body>
  <p id="station" hidden>{{ station }}</p>
  <!--
  https://jinja.palletsprojects.com/en/3.0.x/templates/#html-escaping
  -->
  <script type="text/javascript" src="/static/js/index.js"></script>

  <div class="parallax">
    <h1 class="home_title"><span>RERE</span></h1>
  </div>
  <div class="root">

    <a href="/stations">stations</a>

    <table id="datatable"> 
      <tr style="width: 100%">
        <th>time</th>
        <th>id</th>
        <th>pres</th>
        <th>gas_res</th>
        <th>a_temp</th>
        <th>a_hum</th>
        <th>gd_temp</th>
        <th>gd_hum</th>
      </tr>
      <tr>
        <td id="time"></td>
        <td id="id"></td>
        <td id="pres"></td>
        <td id="gas_res"></td>
        <td id="a_temp"></td>
        <td id="a_hum"></td>
        <td id="gd_temp"></td>
        <td id="gd_hum"></td>
      </tr>
    </table>
  </div>
</body>
</html>
