<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>rere</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">

</head>
<body>
  <p id="station" hidden>{{ station }}</p>
  <!--
  https://jinja.palletsprojects.com/en/3.0.x/templates/#html-escaping
  -->
  <script type="text/javascript" src="/static/js/index.js"></script>

  <script>
    function fetch_data(station){
      let url = $SCRIPT_ROOT + '/info/' + station;
      $.post(url, function(response){
        let data = response[0];
        write_to_table(data);
        add_data(myChart, data[0], data[4]);
      });
    }
    if (location.pathname == '/'){
      var station = 0;
    } else {
      var station = document.getElementById('station').innerHTML;
    }

    var intervalId = window.setInterval(function(){
      fetch_data(station);
    }, 10000);
  </script>

  <div class="parallax">
    <h1 class="home_title"><span>RERE</span></h1>
  </div>
  <div class="root">

    <a href="/stations" class="menu">Index</a>
      
    <img src="/static/img/envira-brands.svg" class="menu-separator">

    <a href="/stations" class="menu">O nas</a>

    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>

    <script type="text/javascript" src="/static/chart/chart.js"></script>
  </div>
    <table id="datatable" class="center"> 
      <tr style="width: 100%">
        <th>Data</th>
        <th>Stacja</th>
        <th>Ciśnienie</th>
        <th>gas_res</th>
        <th>Temp. powietrza</th>
        <th>Wilg. powietrza</th>
        <th>Temp. ziemi</th>
        <th>Wilg. ziemi</th>
      </tr>
      <tr>
        <td id="time"></td>
        <td id="id"></td>
        <td id="pres"></td>
        <td id="gas_res"></td>
        <td id="a_temp"></td>
        <td id="a_hum"></td>
        <td id="gd_temp"></td>
        <td id="gd_hum"></td>
      </tr>
    </table>
</body>
</html>
